<!DOCTYPE html>
<html lang="en">
<head>
     
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/logo-sm.png">
    <link rel="icon" type="image/png" href="~/content/assets/img/logo-sm.png">
    <title>
        能源管理系統
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - newproject</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"style="font-weight:bold;font-family:Microsoft JhengHei;color:#FFFFFF">童綜合醫院EMS能管系統</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" style="font-weight:bold;font-family:Microsoft JhengHei"id="offcanvasDarkNavbarLabel">導覽列</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav nav-underline nav-pills nav-fill justify-content-end ms-auto pe-3">
          <li class="nav-item d-flex align-items-center" id="Privacy">
            <a class="nav-link text-white" href="@Url.Action("Privacy","Home")">
                 <i class="material-icons"style="vertical-align: middle;">satellite</i>平面圖
            </a>
          </li>
           <li class="nav-item"id="Index">
            <a class="nav-link active-link text-white" href="@Url.Action("Index","Home")">
                <i class="material-icons"style="vertical-align: middle;">home</i>總覽
            </a>
          </li>
          <li class="nav-item"id="Index">
            <a class="nav-link active-link text-white" href="@Url.Action("Index","Home")">
                <i class="material-icons"style="vertical-align: middle;">schedule</i>即時
            </a>
          </li>
           <li class="nav-item"id="Index">
            <a class="nav-link active-link text-white" href="@Url.Action("Index","Home")">
                <i class="material-icons"style="vertical-align: middle;">compare_arrows</i>同期比較
            </a>
          </li>
           <li class="nav-item"id="Index">
            <a class="nav-link active-link text-white" href="@Url.Action("Index","Home")">
                <i class="material-icons"style="vertical-align: middle;">history</i>歷史
            </a>
          </li>
          <li class="nav-item"id="Index">
            <a class="nav-link active-link text-white" href="@Url.Action("Index","Home")">
                <i class="material-icons"style="vertical-align: middle;">battery_full</i>契約容量
            </a>
          </li>
           <li class="nav-item"id="Index">
            <a class="nav-link active-link text-white" href="@Url.Action("Index","Home")">
                <i class="material-icons"style="vertical-align: middle;">trending_up</i>趨勢分析
            </a>
          </li>
           <li class="nav-item"id="Index">
            <a class="nav-link active-link text-white" href="@Url.Action("Index","Home")">
                <i class="material-icons"style="vertical-align: middle;">bolt</i>電力品質
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>



            <!-- End Navbar -->
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- 这里放置主要内容 -->
        </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)




</body>
</html>



